* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f5e6da;
  font-size: 0.87rem;
}

/* Header */

header {
  background-color: #64231f;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #f5e6da;
}

span {
  display: block;
  font-size: 1rem;
}

img {
  width: 80px;
}

/* Main */

main {
  text-align: center;
}

h2 {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.control-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

.radio-block {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: start;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 5px;
}

.check-box {
  margin: 15px 0;
}

button {
  background-color: #64231f;
  color: #f5e6da;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  text-shadow: 0px 0px 4px black;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
